@import '../../../Common/sass/variables.scss';
@import '../../../Common/sass/mixin';

.myWorkWrapper {
    background-color: $backgroundFirstColor;
    display: flex;
    justify-content: center;
    align-items: center;
    .myWork{
        width: 820px;
        margin: 40px ;
        position: relative;
    }
    button{
        cursor: pointer;
    }
    .myWorkBottom{
        display: flex;
        justify-content: space-between;
        .rightWork{
            display: flex;
            flex-direction: column;
            gap: 150px;
            margin-top: 40px;
        }
        .leftWork{
            display: flex;
            flex-direction: column;
            gap: 150px;
            margin-top: 150px;
        }
    }
}

.myWork::before{
    content: '';
    height: 100%;
    width: 2px;
    background-color:$backgroundSecondColor;
    position: absolute;
    top: 50px;
}


@media (max-width: 960px ) {
    .myWorkBottom{
        flex-direction: column;
    }
    .myWork{
      border: none;
    }
    .myWorkTop{
        border: none ;
    }
    .myWork::before{
       display: none;
    }
}
@media (max-width: 640px) {
    .myWork{
        margin: 40px 0 ;
    }
}