.myWorkWrapper{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myWork{
    width: 820px;
    border-bottom: 1px solid ;
    margin: 40px ;
}
.myWorkTop{
    border: 2px solid ;
}
button{
    cursor: pointer;
}
.myWorkBottom{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 860px ) {
    .myWorkBottom{
        flex-direction: column;
    }
    .myWork{
      border: none;
    }
    .myWorkTop{
        border: none ;
    }
}
@media (max-width: 640px) {
    .myWork{
        margin: 40px 0 ;
    }
}