.mySkillsContainer{
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.mySkills{
    width: 600px;
    border: 3px solid gray;
}
.mySkillsTop{
    height: 80px;
    border: 3px gray solid;
}
.mySkillsBottom{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 640px) {
    .mySkills{
        width: 300px;
    }
    .mySkillsBottom{
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }
}