.mySkillsContainer{
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}
.mySkills{
    max-width: 820px;
    border: 2px solid gray;
}
.mySkillsTop{
    height: 80px;
    border: 1px gray solid;
}
.mySkillsBottom{
    display: flex;
    justify-content: space-between;
    gap: 110px;
}
@media (max-width: 860px ) {
    .mySkillsBottom{
        gap: 50px;
    }
}
@media (max-width: 640px) {
    .mySkills{
        width: 300px;
        margin: 20px;
    }

    .mySkillsBottom{
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }
}