@import '../../../Common/sass/variables.scss';
@import '../../../Common/sass/mixin';

.contactWrapper {

  .contact {
    display: flex;

    .contactFormDiv {
      display: flex;
      flex-direction: column;
      padding: 20px;


      .titleAndContact {
        position: relative;
      }
    }

    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      padding: 0 20px 0 0;
    }

    .contactInput {
      height: 18px;
      width: 350px;
      background-color: rgba(0, 0, 0, 0);
      border-right: none;
      color: $smallTextColor;
    }

    .contactTextArea {
      height: 70px;
      width: 350px;
      resize: none;
      background-color: transparent;
      color: $smallTextColor;
    }
  }

  .formWrapper {
    display: flex;
    align-items: center;

    .submitButton {
      background-color: $smallTextColor;
      color: black;
      width: 150px;
      height: 40px;
      border: none;
      transition: .3s;
    }

    .submitButton:hover {
      background-color: black;
      color: $smallTextColor;
    }
  }
}


.contactItemContainer {
  @include centerContainer;
  color: $contactTextColor;
  margin: 40px 0;
  justify-content: start;
  gap: 20px;
  text-align: start;

  .contactImage {
    @include centerContainer;
    width: 50px;
    height: 50px;
    border: 1px solid $contactTextColor;
    border-radius: 50px;
  }

  .contactText {
    background-color: $secondaryBackgroundColor;
  }

  .contactName {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .contactDescription {
    font-size: 16px;
    letter-spacing: 1px;
  }
}


@media (max-width: 1220px) {
  .contactWrapper {

    .contact {
      display: flex;
      gap: 250px;

    }
  }
}

@media (max-width: 1050px) {
  .contactWrapper {
    .contact {
    flex-direction: column;
      gap: 10px;
      .contactInput {
        width: 80vw;
      }
      .contactTextArea {
        width: 80vw;
      }
    }
  }
  .contactInput {
    width: 80vw;
  }

  .contactTextArea {
    width: 80vw;
  }
}

@media (max-width: 640px) {
  .contactFormDiv {
    padding: 0
  }

  .contactInput {
    width: 98vw;
  }

  .contactTextArea {
    width: 98vw;
  }
}