@import '../../../Common/sass/variables.scss';

.contact {
  background-color: $backgroundFirstColor;
  padding: 20px 40px;
  display: flex;
  padding: 80px 0;

  .contactFormDiv {
    width: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;


    .titleContainer {
      position: relative;
    }
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }

  .contactInput {
    height: 18px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    border-right: none;
  }
  .contactTextArea {
    height: 70px;
    width: 350px;
    resize: none;
    background-color: transparent;
  }
}
@media (max-width: 860px) {

  .contactInput {
    width: 80vw;
  }

  .contactTextArea {
    width: 80vw;
  }
}

@media (max-width: 640px) {
  .contactFormDiv {
    padding: 0
  }

  .contactInput {
    width: 98vw;
  }

  .contactTextArea {
    width: 98vw;
  }
}