@import '../../../Common/sass/variables.scss';
@import '../../../Common/sass/mixin';

.contactWrapper {
  display: flex;

  .contact {
    display: flex;

    .contactFormDiv {
      width: 780px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;


      .titleAndContact {
        position: relative;
      }
    }

    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

    }

    .contactInput {
      height: 18px;
      width: 350px;
      background-color: rgba(0, 0, 0, 0);
      border-right: none;
    }

    .contactTextArea {
      height: 70px;
      width: 350px;
      resize: none;
      background-color: transparent;
    }
  }
}

.contactItemContainer {
  @include centerContainer;
  color: $contactTextColor;
  margin: 40px 0 ;
  .contactImage {
    width: 50px;
    height: 50px;
    border: 1px solid $contactTextColor;
    border-radius: 50px;
  }

  .contactText {
    background-color: $secondaryBackgroundColor;
  }
}


@media (max-width: 860px) {

  .contactInput {
    width: 80vw;
  }

  .contactTextArea {
    width: 80vw;
  }
}

@media (max-width: 640px) {
  .contactFormDiv {
    padding: 0
  }

  .contactInput {
    width: 98vw;
  }

  .contactTextArea {
    width: 98vw;
  }
}