$backgroundFirstColor: #202020;
$backgroundSecondColor: #333;
$secondaryColor:#ddd;
$titleColor:#fff;
$smallTextColor:#9f9f9f;
$textColor:gray;
$secondaryBackgroundColor:#202020;
$myWorksBackgroundColor:#2b2b2b;
$contactTextColor:#dadada;