@import '../../../Common/sass/variables.scss';
.remoteWrapper{
    min-height: 250px;
    background-color: $backgroundSecondColor;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remote{
    min-height: 150px;
    border: 2px solid gray;
    width: 818px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
button{
    width: 150px;
    color: white;
    background-color: black;
    height: 40px;
}
@media (max-width: 860px ) {
    .remote{
        border: none;
    }
}
@media (max-width: 640px) {
    .remote{
        border: none;
    }
}