@import '../../../Common/sass/variables.scss';

.remoteWrapper {
  min-height: 250px;
  background-color: $backgroundSecondColor;
  display: flex;
  align-items: center;
  justify-content: center;

  .remote {
    min-height: 150px;
    width: 818px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .hireButton {
      width: 150px;
      background-color: $smallTextColor;
      height: 40px;
      border-radius: 20px;
      border:none;
    }

    .hireButton:hover {
      background-color: black;
      border: none;
      color: $smallTextColor;
      transition: .5s;
    }

    .aboutWork {
      color: $smallTextColor;
    }
  }
}


@media (max-width: 860px) {
  .remote {
    border: none;
  }
}

@media (max-width: 640px) {
  .remote {
    border: none;
  }
}