@import '../../Common/sass/variables.scss';

.header{
    background-color: $backgroundFirstColor;
    height: 80px;
    color: $smallTextColor;
}

@media (max-width: 640px) {
    .header{
        padding: 0;
        justify-content: center;
    }
}