.header{
    background-color: #282c34;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:  0 40px ;
}

@media (max-width: 640px) {
    .header{
        padding: 0;
        justify-content: center;
    }
}