@import '../../../../Common/sass/variables.scss';
@import '../../../../Common/sass/mixin';
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.skillsContainer:hover{
  animation: spin 1s linear 0s infinite;
}
.cardContainer{
@include centerContainer;
  flex-direction: column;
  max-width: 100px;
  .skillsContainer{
    @include centerContainer;
    margin: 20px 0 0 0 ;
    width: 100px;
    height: 100px;
    background-color: $backgroundFirstColor;
    border-radius: 50px;
  }
}