.cardContainer{
    width: 150px;
    height: 250px;
    background: powderblue;
}
.cardContainerTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pow{
    width: 50px;
    height: 50px;
    background-color: #282c34;
}
.cardContainerBottom{

}