@import '../../Common/sass/variables.scss';

.footerWrapper {
  min-height: 260px;
  background-color: $backgroundSecondColor;
  justify-content: center;
  align-items: center;
  color: white;
  .footerContent {
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social {
  width: 50px;
  height: 50px;
  background-color: gray;
}

@media (max-width: 860px) {
  .footerContent {
    border: none;
    max-width: 780px;
    margin: 10px;
  }
  .socialContainer {
    gap: 45px;
  }
  .social {
    width: 45px;
    height: 45px;
  }
  .text {
    padding: 5px;
    border-radius: 5px;
  }
  .footerWrapper {
    min-height: 230px;
  }
}