@import '../../Common/sass/variables.scss';

.footerWrapper {
  font-size: 18px;
  min-height: 160px;
  background-color: $backgroundSecondColor;
  justify-content: center;
  align-items: center;
  color: white;

  .footerContent {
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contactFooter {
      display: flex;
      gap: 20px;

      .link {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.link:hover{
  color: #ffa000;
  text-shadow: 7px 10px 7px #100;
}


@media (max-width: 860px) {
  .footerContent {
    border: none;
    max-width: 780px;
    margin: 10px;
    flex-direction: column;
  }
  .socialContainer {
    gap: 45px;
  }
  .social {
    width: 45px;
    height: 45px;
  }
  .text {
    padding: 5px;
    border-radius: 5px;
  }
  .footerWrapper {
    min-height: 230px;
  }
}
