@import '../../../Common/sass/variables.scss';

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.navLink {
  font-size: 20px;
  text-decoration: none;
  color: $smallTextColor;
  position: relative;
}

.navLink::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: $smallTextColor;
}

.navLink:hover:before {
  width: 100%;
}

.navLink::before {
  transition: width 0.35s;
}

@media (max-width: 860px) {
  .nav {
    gap: 10px;
  }

}

@media (max-width: 460px) {
  .nav {
    .navLink {
      font-size: 18px;
    }
  }

}