@import '../../../Common/sass/variables.scss';

.aboutMe {
  background-color: $backgroundFirstColor;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  .aboutMeContent {
    display: flex;
    gap: 350px;
    align-items: center;

    .aboutMeTextContainer {
      text-align: center;
      max-width: 300px;
      min-height: 80px;
      min-width: 100px;
      border-radius: 10px;
      .myName{
        color: $titleColor;
        font-size: 44px;
      }
      .aboutMeText{
        font-weight:700 ;
        color: $textColor;
        letter-spacing: 1px;
      }
      .aboutMeTextSmall{
        color: $textColor;
      }
    }
    .avatar {
      height: 378px;
      width: 280px;
      border-radius: 50px
    }
  }
  @media (max-width: 960px){
    .aboutMeContent {
      gap: 150px;
      padding: 30px;
    }
  }
}

@media (max-width: 860px) {
  .aboutMeContent {
    gap: 20px;
    border: none;
    border-radius: 10px;
    .avatar {
      background-color: gray;
    }
  }

}

@media (max-width: 640px) {
  .aboutMe {
    padding: 20px;
    .aboutMeContent {
      flex-direction: column;
    }
  }
}