.backgroundDiv{
    background: #c8d5ff;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MyWorkItem{
    min-width: 310px;
    background: cadetblue;
}
.MyWorkSeeButton{
    background-color: black;
    border-radius: 5px;
    width: 100px;
    min-height: 30px;
    color: white;
    border: none;
}
@media (max-width: 860px ) {

}